/* * {   resetear los estilos del css del navegador
box-sizing: border-box;
margin: 0;
padding: 0;
} */

html {
    font-size: 62.5%;
}
body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
     font-size: 1.3rem;
}
a {
    text-decoration: none;    /* para quitar todas las decoraciones */
    cursor: pointer;            /* para colocarle una manita de apuntador */
}
.header {
     position: relative;
     width: 100%;
     height: 6rem;
}
.header nav {
    display: flex;      /* para posicionar el contenido */
    justify-content: flex-end; /* esto es para que se posicione al lado derecho */
}
header .right-section {                           /*  las clases(.) son genericas */
     width: 25rem;                                 /* los id (#) son unicos */
     height: auto;
     display: flex;
     list-style: none;                         /*  para  quitar los estilos de esa lista */
     justify-content: center;                      /* para que el contenido se quede centrado */ 
     color: black;
     align-items: center;
}
nav .right-section a {
     margin-right: 1rem;                    /* para separar la barra de navegación */
     color: #000;
}
nav .right-section .menu-icon {
     background-image: url("https://static.thenounproject.com/png/756729-200.png");   /* para traer la imgen con la url del icono */
     background-repeat: no-repeat;  /* para evitar que se repita la imagen */
     background-position: center;   /* para que el icono quede en el centro el 100% */
     background-size: contain;      /* para que logre estar en el tamaño del contenedor */
     width: 2.5rem;                   /* ancho */
     height: 2.5rem;                    /* altura */
}
nav .right-section img {
     vertical-align: middle;
     margin-top: 0;
     border-radius: 50%;                    /* es para hacerle un borde con un circulo */
     margin-left: 1rem;                       /*  para ajustar el margen entre el icono y la imagen */
}
main {
      margin-top: 15rem;
      text-align:center;                   /* para que todo lo que este dentro de la etiqueta main se centre */
}
main .main-logo {
     width: 53rem;
     margin: 0 auto;                      /* margin 0 auto  = divide lo que le sobra entre dos */
     margin-bottom: 3.5rem;
}
main .main-logo img {
     width: 30rem;
}
main .main-input {
     width: 53rem;
     margin: 0 auto;                                    /* se pueda posicionar en la parte del medio */             
     margin-bottom: 3.5rem;                         /* que empuja la seccion de botones hacia abajo */               
}
main .main-input-container {                       /* es un contenedor dentro de un contenedor */
     width: 53rem;
     border-radius: 10rem;
     border: 1px solid #dfe1e5;
     display: flex;     /* coloca los elementos de forma lineal */
     justify-content: center;
     align-items:center;             /* para alinear los elementos en forma centro */
}
main .main-input input {
     width: 45rem;
     height: 4rem;
     border:none;             /* para quitarle los bordes */
     outline:none;
}
main .main-input-container:hover { /* en el momento que el cursor pasa por encima, queremos que haga algo */
     box-shadow: 0 1px 6px 0 #20212447;   /* generar sombra en el elemento */
     border-color: #dfe1e500;
}
main .main-input .serch-icon {
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     height: 1.8rem;
     width: 1.8rem;
}
main .main-input .micro-icon {
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     height: 2rem;
     width: 2rem;
     cursor: pointer;
}
main .main-buttons {
     width: 53rem;
     margin: 0 auto;
}
main .main-buttons div {
     display:inline-flex;
}
main .main-buttons button {
     height: 3.6rem;
     background-color: #f2f2f2;
     border: none;
     font-size: 1.4rem;
     color: #5f6368;
     border-radius: 0.5rem;
     padding: 0 1.5rem;
     margin-right: 1rem;
}
main .main-buttons button:hover {
     background-color: #f8f8f8;
     border: 0.1rem solid #c6c6c6;
     box-shadow: 0 0.1rem 0.1rem rgba(0, ,0, 0, ,0.1)
     color: #222;
}
footer {
     width: 100%;
     height: 8rem;
     position: absolute;
     bottom: 0;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     align-items: center;
     font-size: 1.3rem;
     background-color: #f2f2f2;
     border-top: 0.1rem solid #e4e4e4;
}
footer .footer-down {
     display: grid;
     grid-row-start: 2;
     grid-template-columns: 1fr 1fr;
     border-top: 0.1rem solid #e4e4e4;
}
footer ul {
     margin: 1rem;
     margin-right: 2rem;
     list-style: none;
     display: flex;
     padding-left: 0;
}
footer .footer-left {
     justify-self: left;
}
footer ul li a {
     margin: 2rem;
     margin-right: 0.9rem;
     color: #5f6368;
     font-size: 1.4rem;
}
footer .footer-country {
     grid-row-start: 1;
}
footer .footer-country span {
     font-size: 1.4rem;
     margin: 3rem;
     color: #5f6368;
}